.profile{
    background-color: #00adb5;
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
    border: 5px solid black;
    border-radius: 20px;
    -webkit-box-shadow: 0px 5px 12px 0px rgba(50, 50, 50, 0.64);
    -moz-box-shadow:    0px 5px 12px 0px rgba(50, 50, 50, 0.64);
    box-shadow:         0px 5px 12px 0px rgba(50, 50, 50, 0.64);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../../Image/users.jpg");
    color: white;
}

.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-repeat: no-repeat;
    background-size: cover;
    background-image: url(""); */
}

.user-avatar{
    width: 15rem;
    height: 15rem;
    border-radius: 10px;
    border: 2px solid black;
    background-color: #d1d0d0;
}

@media all and (max-width: 401px){
    .profile-container{
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../../Image/users.jpg");
    }

    .profile{
        background-image: none;
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
}