.search-container{
    height: 11rem;
    grid-template-rows: [start-title] 1fr [end-title start-search] 1fr [end-search];
    grid-template-areas: "title" "search" ;
    background-color: bisque;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.32);
    -moz-box-shadow:    0px 3px 8px 0px rgba(50, 50, 50, 0.32);
    box-shadow:         0px 3px 8px 0px rgba(50, 50, 50, 0.32);
}

.title-container{
    grid-area: "title";
    height: 45%;
    text-align: center;
    padding-top: 1.6rem;
    font-size: 2rem;
    font-weight: bold;
}

.search-inputs{
    display: flex;
    justify-content: center;
}

.search-inputs *{
    margin-right: 1rem;
    border-radius: 5px;
    font-size: 1rem;
}

.results-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 32rem;
    padding-top: 1.7rem;
}