.search-container{
    height: 11rem;
    grid-template-rows: [start-title] 1fr [end-title start-search] 1fr [end-search];
    grid-template-areas: "title" "search" ;
    background-color: #222831;
    -webkit-box-shadow: 0px 3px 8px 0px rgba(50, 50, 50, 0.32);
    -moz-box-shadow:    0px 3px 8px 0px rgba(50, 50, 50, 0.32);
    box-shadow:         0px 3px 8px 0px rgba(50, 50, 50, 0.32);
}

.title-container{
    grid-area: "title";
    height: 45%;
    text-align: center;
    padding-top: 1.6rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.search-inputs{
    display: flex;
    justify-content: center;
}

.search-inputs *{
    margin-right: 1rem;
    border-radius: 5px;
    font-size: 1rem;
    border-color: white;
}

.search-inputs > select, button{
    cursor: pointer;
}

.results-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 32rem;
    padding-top: 1.7rem;
    /* background-image: url("");
    background-repeat: no-repeat;
    background-size: cover; */
}

.loader-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 32rem;
    width: 100%;
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  z-index: 1;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media all and (max-width: 930px){
    .results-container{
        display: block;
    }
}