@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Permanent+Marker&display=swap');

body {
  margin: 0;
  font-family: 'Balsamiq Sans', cursive;
  font-size: 1.1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("");
  background-repeat: no-repeat;
  background-size: cover; */
  background-color: #393e46;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input,select,button{
  font-family: 'Balsamiq Sans', cursive;
}
